{% extends 'wikiserver/base.html' %}
{% block 'body' %}
{% if creatingNewPage %}
<h1>New Page</h1>
{% else %}
<h1>Edit Page</h1>
{% endif %}

<button id="editor-btn">Edit</button>
<button id="preview-btn">Preview</button>

<div id="editor">
  <form action={% if creatingNewPage %}"{% url 'wikiserver:page-create' %}"{% else %}"{% url 'wikiserver:page-edit' pageid=pid %}"{% endif %} method="post">
    {% csrf_token %}

    <input type="text" name="title" id="title" value="{{formTitle}}" {% if disable %}disabled{% endif %}/>
    <label for="title">Title</label><br/>

    <textarea style="width:400px;height:150px;" name="content" id="content" {% if disable %}disabled{% endif %}>{{formContent}}</textarea>
    <label for="content">Content</label><br/>

    <input type="submit" value={% if creatingNewPage %}"Create"{% else %}"Save"{% endif %} {% if disable %}disabled{% endif %}/>
  </form>
</div>

<div id="preview" style="display:none;">
</div>

<p id="error">
  {% if errorMessage %}
  <strong>{{errorMessage}}</strong>
  {% endif %}
</p>

<script>
  $(document).ready(function() {
    $("#editor-btn").click(function() {
      document.getElementById("editor").style.display = "block";
      document.getElementById("preview").style.display = "none";
    });

    $("#preview-btn").click(function() {
      $.ajax({
        type: "POST",
        dataType: "html",
        processData: false,
        url: "https://api.github.com/markdown/raw",
        data: document.getElementById("content").value,
        contentType: "text/plain",
        success: function(data){
          $("#preview").html("<h1>" + document.getElementById("title").value + "</h1>")
          $("#preview").append(data);
          document.getElementById("editor").style.display = "none";
          document.getElementById("preview").style.display = "block";
        },
        error: function(jqXHR, textStatus, error){
          $("#error").html("<strong>Something went wrong with the preview.</strong>");
          console.log(jqXHR, textStatus, error);
        }
      });
    });
  });
</script>
{% endblock %}
