{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <title>Wiki Server</title>
</head>
<body>
  <div class="header-bar">
    <div class="title"><a href="{% url 'wikiserver:index' %}">Wiki Server</a></div>
    <div class="btns">
      {% if username %}
      <div class="btn">
        <a href="{% url 'wikiserver:user-logout' %}">log out</a>
      </div>
      {% else %}
      <div class="btn">
        <a href="{% url 'wikiserver:user-signup' %}">sign up</a>
      </div>
      <div class="btn">
        <a href="{% url 'wikiserver:user-login' %}">log in</a>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="content">
    {% block 'body' %}
    {% endblock %}
  </div>
</body>
</html>
