{% extends 'wikiserver/base.html' %}
{% block 'body' %}

{% if userLoggedIn %}
<h1>Welcome {{username}}</h1>
{% else %}
<h2>Welcome. Please <a href="{% url 'wikiserver:user-login' %}">log in</a> or <a href="{% url 'wikiserver:user-signup' %}">create an account</a>.</h2>
{% endif %}

<h3>Recent Posts</h3>
<ul>
{% for p in recentPosts %}
<li style="margin-bottom:10px;"><a href="{% url 'wikiserver:post-view' postid=p.id %}">{{ p.title }}</a> by {{ p.owner.username }}</li>
{% endfor %}
</ul>
<p><a href="{% url 'wikiserver:post-list' pageNum=1 %}">View all posts</a></p>

{% if userLoggedIn %}
<p><a href="{% url 'wikiserver:post-create' %}">Create a post</a></p>
{% endif %}

{% endblock %}
