{% extends 'wikiserver/base.html' %}
{% block 'body' %}

<h1>Log In</h1>

<form action="{% url 'wikiserver:user-login' %}{% if n %}?next={{n}}{% endif %}" method="post">{% csrf_token %}
  <input type="text" name="username" id="username"/>
  <label for="username">Username</label><br/>

  <input type="password" name="password" id="password"/>
  <label for="password">Password</label><br/>

  {% if errorMessage %}
  <p><strong>{{errorMessage}}</strong></p>
  {% endif %}

  <input type="submit" value="Log In"/>
</form>

{% endblock %}
